In [2]:
my_string='Hello World'
target_string = 'World'

if target_string in my_string:
    print('find!')

find!

In [6]:
name='Олег'
lang='Python'
print (f'Hello {name}, I know {lang} a bit')

Hello Олег, I know Python a bit

In [7]:
t = f'Hello {name.capitalize()}, I know {lang} a bit'
print (t)

Hello Олег, I know Python a bit

In [8]:
print (t)
print ('Hello {}, I know {} a bit'.format(name))

Hello Олег, I know Python a bit

IndexError: tuple index out of range

In [12]:
print ('Hello {}, I know {} a bit'.format(name.upper(), lang))

Hello ОЛЕГ, I know Python a bit

In [ ]:
    month1 = ['Jan', 'Feb','Mar','Apr','May', 'Jun', 'Jul', 'ug']
                                                                       ^
print(month1)

In [1]:
print('1')

1

In [11]:
month2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'ug']
                                                                    
print(month2)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'ug']

In [3]:
month5 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'ug']
                                                                    
print(month5)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'ug']

In [9]:
month7 = [7, 9, 15, 4]
                                                             
print(month7.reverse)

<built-in method reverse of list object at 0x000001766F6140C8>

In [7]:
print(len(month7))

4

In [8]:
print(sum(month7))

22

In [15]:
print(sorted(month7, reverse=True))

[15, 9, 7, 4]

In [17]:
month7.reverse

In [20]:
print(max(month7))

15

In [28]:
queries_string = "смотреть онлайн,новости спорта и досуга, афиша кино, курс доллара, сериалы летом"
queries_list = queries_string.split(',')
print (queries_list)
print (len(queries_list[1].split(' ')))
m='-++-'.join(queries_list)
print (m)

['смотреть онлайн', 'новости спорта и досуга', ' афиша кино', ' курс доллара', ' сериалы летом']
4
смотреть онлайн-++-новости спорта и досуга-++- афиша кино-++- курс доллара-++- сериалы летом

In [29]:
print('Москва' not in ['Ленинград', 'Одесса', 'Москва']
)

False

In [31]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type((salary_tuple))

tuple

In [34]:

list(salary_tuple)

[1000, 1200, 1300, 900, 800]

In [35]:
t = ('one',)

In [36]:
type(t)

tuple

In [37]:
salaries = [1000, 1200, 1300, 900]
names = ['Петр', 'Иван', 'Егор', 'Лиза']
salaries_by_names = zip(names, salaries)
list(salaries_by_names)

[('Петр', 1000), ('Иван', 1200), ('Егор', 1300), ('Лиза', 900)]